<div class="" data-ng-controller="addliftController">
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">ثبت تردد در یکمسیر</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">خانه</a></li>
                <li class="active">ثبت تردد</li>
            </ul>
        </div>
        <!--/container-->
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block form-wizard" id="form-wizard2">
                    <ul>
                        <li><a href="#valid1" data-toggle="tab"><span>1</span> درخواست/پیشنهاد</a></li>
                        <li><a href="#valid2" data-toggle="tab"><span>2</span> دوره تردد</a></li>
                        <li><a href="#valid3" data-toggle="tab"><span>3</span> تاریخ و مسیر</a></li>
                        <li><a href="#valid4" data-toggle="tab"><span>4</span> هزینه و پرداخت</a></li>
                    </ul>
                    <div class="block-content">
                        <form action="javascript:alert('Form submited');" method="post" name="addliftform" id="addliftform">
                            <div class="tab-content">
                                <div class="tab-pane" id="valid1" data-ng-init="lift.offerRequest=0">
                                    <div class="form-group">
                                        <label class="control-label ng-binding">
                                            <input type="radio" name="offerrequest" value="0" data-ng-model="lift.offerRequest"
                                                   aria-label="Radio button for following text input">&nbsp;&nbsp;<span>پیشنهاد تردد (شما یک راننده هستید)  </span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label ng-binding">
                                            <input type="radio" name="offerrequest" value="1" data-ng-model="lift.offerRequest"
                                                   aria-label="Radio button for following text input">&nbsp;&nbsp;<span>درخواست تردد (شما یک مسافر هستید)  </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="tab-pane" id="valid2" data-ng-init="lift.frequency=0">
                                    <div class="form-group">
                                        <label class="control-label ng-binding">
                                            <input type="radio" name="frequency" value="0" data-ng-model="lift.frequency"
                                                   aria-label="Radio button for following text input">&nbsp;&nbsp;<span>یکبار تردد</span>&nbsp;<span>(شما قصد تردد در یک تاریخ خاص برای یکبار دارید)</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label ng-binding">
                                            <input type="radio" name="frequency" value="1" data-ng-model="lift.frequency"
                                                   aria-label="Radio button for following text input">&nbsp;&nbsp;<span>تردد منظم</span>&nbsp;<span>(شما قصد تردد در یک دوره تاریخ بصورت منظم دارید)</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="tab-pane" id="valid3">
                                    <div class="form-group">
                                        <label class="control-label ng-binding col-md-2">
                                            <span>تاریخ :</span>&nbsp;&nbsp;
                                        </label>
                                        <select id="OneOffDay" data-ng-model="OneOffDay">
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                        </select>
                                        <span>/</span>
                                        <select id="OneOffMonth" data-ng-model="OneOffMonth">
                                            <option value="01">فروردین</option>
                                            <option value="02">اردیبهشت</option>
                                            <option value="03">خرداد</option>
                                            <option value="04">تیر</option>
                                            <option value="05">مرداد</option>
                                            <option value="06">شهریور</option>
                                            <option value="07">مهر</option>
                                            <option value="08">آبان</option>
                                            <option value="09">آذر</option>
                                            <option value="10">دی</option>
                                            <option value="11">بهمن</option>
                                            <option value="12">اسفند</option>
                                        </select>
                                        <span>/</span>
                                        <select id="OneOffYear" data-ng-model="OneOffYear">
                                            <option value="1393">1393</option>
                                            <option value="1394">1394</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label ng-binding col-md-2">
                                            <span>ساعت حرکت :</span>
                                        </label>
                                        <select id="DepartureFlexibilityMinute" name="DepartureFlexibilityMinute" data-ng-model="departureFlexibilityMinute">
                                            <option value="00">00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                        &nbsp;<span> : </span>&nbsp;
                                        <select id="DepartureFlexibilityHour" name="DepartureFlexibilityHour" data-ng-model="departureFlexibilityHour">
                                            <option value="00">00</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12 ">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label ng-binding col-md-2">
                                            <span>مبدا مسیر :</span>
                                        </label>
                                        <input type="text" name="Source" id="txtSource" data-ng-model="lift.source" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label ng-binding col-md-2">
                                            <span>مقصد مسیر :</span>
                                        </label>
                                        <input type="text" name="Destination" id="txtDestination" data-ng-model="lift.destination" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label ng-binding col-md-2">
                                            <span>ساعت رسیدن به مقصد :</span>
                                        </label>
                                        <select id="ArrivalTimeMinute" name="ArrivalTimeMinute" data-ng-model="arrivalTimeMinute">
                                            <option value="00">00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                        &nbsp;<span> : </span>&nbsp;
                                        <select id="ArrivalTimeHour" name="ArrivalTimeHour" data-ng-model="arrivalTimeHour">
                                            <option value="00">00</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12 ">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label ng-binding col-md-2">
                                            <span>تعداد جاهای موجود :</span>
                                        </label>
                                        <select data-ng-model="lift.places" name="Places">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label ng-binding col-md-2">
                                            <span>وسایل همراه :</span>
                                        </label>
                                        <select data-ng-model="lift.luggagePerSeat" name="LuggagePerSeat">
                                            <option value="1">وسایل کوچک (مانند نوت بوک یا کیف دستی)</option>
                                            <option value="2">وسایل متوسط (وسایلی که میتوانید با خئد حمل نمایید تا سایز (55 x 40 x 20 cm) )</option>
                                            <option value="3">وسایل بزرگ (مانند چمدان بزرگ یا ساک مسافرتی)</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label ng-binding col-md-2">
                                            <span>توضیحات :</span>
                                        </label>
                                        <textarea class="span6" data-ng-model="lift.comment" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="tab-pane" id="valid4">
                                    <div class="form-group">
                                        <label class="control-label ng-binding col-md-2">
                                            <span>هزینه هر نفر :</span>
                                        </label>
                                        <select data-ng-model="lift.pricePerSeat" name="PricePerSeat">
                                            <option value="1000">1000 تومان</option>
                                            <option value="2000">2000 تومان</option>
                                            <option value="3000">3000 تومان</option>
                                            <option value="4000">4000 تومان</option>
                                            <option value="5000">5000 تومان</option>
                                            <option value="6000">6000 تومان</option>
                                            <option value="7000">7000 تومان</option>
                                            <option value="8000">8000 تومان</option>
                                            <option value="9000">9000 تومان</option>
                                            <option value="10000">10000 تومان</option>
                                            <option value="11000">11000 تومان</option>
                                            <option value="12000">12000 تومان</option>
                                            <option value="13000">13000 تومان</option>
                                            <option value="14000">14000 تومان</option>
                                            <option value="15000">15000 تومان</option>
                                            <option value="16000">16000 تومان</option>
                                            <option value="17000">17000 تومان</option>
                                            <option value="18000">18000 تومان</option>
                                            <option value="19000">19000 تومان</option>
                                            <option value="20000">20000 تومان</option>
                                        </select>
                                    </div>

                                    <input type="button" class="btn btn-default" value="ثبت تردد" data-ng-click="addLift()" />
                                </div>
                                <ul class="pager wizard">
                                    <li class="previous"><a href="" class="btn btn-default">مرحله قبل</a></li>
                                    <li class="next"><a href="" class="btn btn-default">مرحله بعد</a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        gDemos = {
            init: function () {

                if ($("#form-wizard2").length > 0) {
                    $('#form-wizard2').bootstrapWizard({
                        'tabClass': 'form-wizard-levels',
                        'onNext': function (tab, navigation, index) {
                            var $valid = $("#addliftform").valid();
                            if (!$valid) {
                                $validator.focusInvalid();
                                return false;
                            }
                            var $total = navigation.find('li').length;
                            var $current = index + 1;
                        },
                        onTabClick: function (tab, navigation, index) { return false; }
                    });

                }
            }
        }
        gDemos.init();

    });

    function gDemo() {

        gDemos.init();
    }

    var availableTags = ['ازگل'
, 'اقدسیه'
, 'الهيه'
, 'امامزاده قاسم'
, 'اوین'
, 'باغ فردوس'
, 'تجریش'
, 'جماران'
, 'چیذر'
, 'دارآباد'
, 'دربند'
, 'درکه'
, 'دزاشیب - جوزستان'
, 'زعفرانیه'
, 'سوهانک'
, 'شهرک نفت'
, 'شهرک محلاتی'
, 'فرمانیه'
, 'قیطریه'
, 'فرشته'
, 'کاشانک'
, 'کامرانیه'
, 'محمودیه'
, 'نیاوران'
, 'ولنجک'
, 'برق آلستوم'
, 'تهران ویلا'
, 'ستارخان'
, 'سعادت آباد'
, 'شهرک غرب'
, 'شهرک مخابرات'
, 'شهرآرا'
, 'صادقیه'
, 'طرشت'
, 'فرحزاد'
, 'گیشا'
, 'همایونشهر'
, 'مرزداران'
, 'اختیاریه'
, 'پاسداران'
, 'دروس'
, 'دولت'
, 'دیباجی'
, 'جردن - ولیعصر'
, 'سیدخندان'
, 'ظفر'
, 'قلهک'
, 'میرداماد'
, 'ونک'
, 'بلوار پروین'
, 'تهرانپارس'
, 'حکیمیه'
, 'سراج'
, 'شمس آباد - مجیدیه'
, 'شمیران نو'
, 'علم و صنعت'
, 'فرجام'
, 'قنات کوثر'
, 'لویزان - شیان'
, 'مهران'
, 'نارمک'
, 'هروی'
, 'هنگام'
, 'آيت الله كاشانی'
, 'اشرفی اصفهانی'
, 'باغ فیض'
, 'بلوار فردوس'
, 'پونک'
, 'جنت آباد'
, 'حصارک'
, 'سازمان برنامه'
, 'شاهین'
, 'شهران'
, 'شهرزيبا'
, 'شهرک آپادانا'
, 'شهرک اکباتان'
, 'شهرک اندیشه'
, 'شهرک پرواز'
, 'شهرک کوهسار'
, 'شهرک نفت'
, 'شهرک والفجر'
, 'کن'
, 'کوی ارم'
, 'کوی بیمه'
, 'آرژانتین - ساعی'
, 'امیرآباد'
, 'ایرانشهر'
, 'بهجت آباد'
, 'پارک لاله'
, 'جنت - رفتگر'
, 'دانشگاه تهران'
, 'شریعتی'
, 'شیراز'
, 'عباس آباد'
, 'فاطمی'
, 'قائم مقام - سنائی'
, 'قزل قلعه'
, 'کشاورز غربی'
, 'گاندی'
, 'میدان جهاد'
, 'میدان ولیعصر'
, 'نصرت'
, 'یوسف آباد'
, 'اجاره دار'
, 'ارامنه'
, 'امجدیه - خاقانی'
, 'باغ صبا - سهروردی'
, 'بهار'
, 'حشمتیه'
, 'خواجه نصیر - حقوقی'
, 'دبستان - مجیدیه'
, 'سبلان'
, 'عباس آباد - اندیشه'
, 'قصر'
, 'کاج'
, 'کریمخان'
, 'مطهری'
, 'نامجو'
, 'نظام آباد'
, 'نیلوفر - شهید قندی'
, 'هفت تیر'
, 'تسلیحات'
, 'تهرانپارس'
, 'دردشت'
, 'زرکش'
, 'فدک'
, 'کرمان'
, 'لشکر'
, 'مجیدیه جنوبی'
, 'مدائن'
, 'نارمک'
, 'وحیدیه'
, 'هفت حوض'
, 'استاد معین'
, 'امامزاده عبدالله'
, 'دکتر هوشیار'
, 'سرآسیاب مهرآباد'
, 'شمشیری'
, 'شهید دستغیب'
, 'فتح - صنعتی'
, 'فرودگاه'
, 'بریانک'
, 'جی – شبیری'
, 'جیحون'
, 'دامپزشكی'
, 'رودکی'
, 'زنجان'
, 'سلیمانی - تیموری'
, 'کارون'
, 'قزوین'
, 'کمیل'
, 'مالک اشتر'
, 'نواب صفوی'
, 'هاشمی'
, 'هفت چنار'
, 'آذربایجان'
, 'آگاهی'
, 'اسکندری'
, 'امیریه'
, 'انبارنفت'
, 'جمالزاده - حشمت الدوله'
, 'جمهوری'
, 'خرمشهر'
, 'راه آهن'
, 'شیخ هادی'
, 'عباسی'
, 'فروزش - امیربهادر'
, 'فلسطین - انقلاب'
, 'قلمستان - برادران جوادیان'
, 'مخصوص'
, 'منیریه'
, 'میدان حر'
, 'هلال احمر'
, 'آبشار'
, 'ارگ پامنار'
, 'امامزاده یحیی'
, 'ایران'
, 'بازار'
, 'بهارستان'
, 'تختی'
, 'دروازه شمیران'
, 'سنگلج'
, 'شهید هرندی'
, 'فردوسی'
, 'قیام'
, 'کوثر'
, 'آشتیانی'
, 'امامت'
, 'پیروزی'
, 'تهران نو'
, 'حافظیه'
, 'دهقان'
, 'زاهد گیلانی'
, 'زینبیه'
, 'سرخه حصار'
, 'شورا'
, 'شهید اسدی'
, 'صفا'
, 'قاسم آباد'
, 'نیروی هوایی'
, '13 آبان'
, 'آهنگ'
, 'آهنگران'
, 'ابوذر'
, 'بروجردی'
, 'پرستار'
, 'پیروزی'
, 'تاکسیرانی'
, 'جابری'
, 'جوادیه'
, 'چهارصد دستگاه'
, 'خاوران'
, 'دژکام'
, 'دولاب'
, 'شاهین'
, 'شکوفه'
, 'شکیب'
, 'شیوا'
, 'صد دستگاه'
, 'فرزانه'
, 'قصر فیروزه'
, 'مینای'
, 'نبی اکرم'
, 'نیکنام'
, 'ابوذر'
, 'اتابک'
, 'اسلام آباد - والفجر'
, 'افسریه'
, 'بروجردی - دهقان'
, 'شوش'
, 'شهرک رضویه'
, 'طیب'
, 'کیانشهر'
, 'مسعودیه'
, 'مشیریه'
, 'مطهری'
, 'مظاهری'
, 'مینایی'
, 'ولیعصر - بی سیم'
, 'هاشم آباد'
, 'باغ آذری'
, 'تختی'
, 'جوادیه'
, 'خزانه'
, 'شهرک بعثت'
, 'علی آباد'
, 'نازی آباد'
, 'یاخچی آباد'
, 'آذری'
, 'ابوذر'
, 'امامزاده حسن'
, 'باغ خزانه'
, 'بلور سازی'
, 'جلیلی'
, 'زمزم'
, 'زهتابی'
, 'فلاح'
, 'گلچین'
, 'مقدم'
, 'وصفنارد'
, 'یافت آباد'
, '17 شهریور'
, 'بهداشت'
, 'تولید دارو'
, 'حسینی - فردوس'
, 'خلیج فارس'
, 'شاد آباد'
, 'شمس آباد'
, 'شهرک امام خمینی'
, 'شهید رجایی'
, 'صاحب الزمان'
, 'صادقیه'
, 'ولیعصر'
, 'یافت آباد'
, 'اسفندیاری و بستان'
, 'اسماعیل آباد'
, 'بوستان ولایت'
, 'بهمنیار'
, 'خانی آباد'
, 'دولتخواه'
, 'شریعتی'
, 'شکوفه'
, 'شهرک رسالت'
, 'شهید کاظمی'
, 'نعمت آباد'
, '13 آبان'
, 'ابن بابویه'
, 'استخر'
, 'اقدسیه'
, 'باروت کوبی'
, 'تقی آباد'
, 'جوانمرد قصاب'
, 'حمزه آباد'
, 'دولت آباد'
, 'دیلمان'
, 'سرتخت'
, 'شهادت'
, 'شهید بهشتی'
, 'عباس آباد'
, 'علایین'
, 'فیروزآبادی'
, 'حمزه آباد'
, 'منصوریه منگل'
, 'ولی آباد'
, 'هاشم آباد'
, 'باشگاه نفت'
, 'تهرانسر'
, 'چیتگر'
, 'شهرک آزادی'
, 'شهرک استقلال'
, 'شهرک پاسداران'
, 'شهرک دانشگاه تهران'
, 'شهرک دریا'
, 'شهرک شهرداری'
, 'شهرک غزالی'
, 'شهرک فرهنگیان'
, 'وردآورد'
, 'ویلا شهر'
, 'آزاد شهر - پیکان شهر'
, 'دهکده المپیک'
, 'زیبا دشت'
, 'شهرک دژبان'
, 'شهرک راه آهن'
, 'شهرک شهید باقری'
, 'شهرک صنعتی شریف'
, 'همت غرب'];

    $("#txtSource").autocomplete({
        source: availableTags
    });

    $("#txtDestination").autocomplete({
        source: availableTags
    });


</script>
