<div class="" data-ng-controller="homeController">
    <div class="job-img margin-bottom-1">
        <div class="job-banner">
            <h2>
                مقصد شما کجاست ...</h2>
        </div>
        <div class="job-img-inputs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 md-margin-bottom-10">
                        <div class="input-group">
                            <input type="text" placeholder="آدرس مبدا" class="form-control">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker" style="font-size: 16px">
                            </i></span>
                        </div>
                    </div>
                    <div class="col-sm-4 md-margin-bottom-10">
                        <div class="input-group">
                            <input type="text" placeholder="آدرس مقصد" class="form-control">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker" style="font-size: 16px">
                            </i></span>
                        </div>
                    </div>
                    <div class="col-sm-2 md-margin-bottom-10">
                        <div class="input-group">
                            <input type="text" placeholder="تاریخ" class="form-control">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time" style="font-size: 16px">
                            </i></span>
                        </div>
                    </div>
                    <div class="col-sm-2 md-margin-bottom-10">
                        <button type="button" class="btn-u btn-block">
                            جستجو</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="row margin-bottom-40">
            <div class="col-md-4 col-sm-6">
                <div class="service-block service-block-sea service-or">
                    <div class="service-bg">
                    </div>
                    <i class="icon-custom icon-color-light rounded-x glyphicon glyphicon-upload"></i>
                    <h2 class="heading-md">
                        قابل اعتماد</h2>
                    <p>
                        ما به شما اعتماد را هدیه میکنیم</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-block service-block-red service-or">
                    <div class="service-bg">
                    </div>
                    <i class="icon-custom icon-color-light rounded-x icon-line glyphicon glyphicon-star">
                    </i>
                    <h2 class="heading-md">
                        در دسترس و سریع</h2>
                    <p>
                        ما به شما سرعت را هدیه میکنیم</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="service-block service-block-blue service-or">
                    <div class="service-bg">
                    </div>
                    <i class="icon-custom icon-color-light rounded-x icon-line glyphicon glyphicon-adjust">
                    </i>
                    <h2 class="heading-md">
                        استفاده راحت</h2>
                    <p>
                        ما به شما راحتی را هدیه میکنیم</p>
                </div>
            </div>
        </div>
    </div>
</div>
