<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">
            جستجو در همسفر</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">خانه</a></li>
            <li class="active">جستجو</li>
        </ul>
    </div>
    <!--/container-->
</div>
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <!-- Begin Content -->
        <div class="col-md-9">
            <!-- Search -->
            <form action="#">
            <div class="col-sm-4 md-margin-bottom-10">
                <div class="input-group">
                    نوع :
                    <select>
                        <option value="0">پیشنهاد</option>
                        <option value="1">درخواست</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn-u pull-right" type="submit">
                    جستجو</button>
            </div>
            </form>
            <!-- General Unify Forms -->
        </div>
        <!-- End Content -->
    </div>
</div>
<!--/container-->
<!--=== End Content Part ===-->
